<!DOCTYPE html>
<html>
<head>
<title>Las Vegas Auto Spa LLC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-content w3-black" style="max-width:100%
">

<!-- First Grid: Logo & About -->

<div class="w3-row" style="height:555px; background-color: black;" id="home">
  <a href="/booking" class="w3-btn w3-round w3-orange" style="position: fixed; background-color:yellow;">Book Now!</a>
  <div class="w3-black w3-container w3-center" style="height: 600px;">
    <div style=" margin-top: 115px;">
      <img src="/static/logo.png" style="margin-top:0px; height: 135px; width:200px;">
      <div style="">
        <a href="#home" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Home</a>
        <a href="#work" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Our Services</a>
        <a href="#partners" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Partners</a>
        <a href="#aboutUS" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">About Us</a>
        <a href="#contact" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">Call 702-661-3260</a>
      </div>
    </div>
    
  </div>
</div>

<!-- Second Grid: Services -->
<div class="w3-row" style="margin-top: 200px;">
  
  <div class="w3-half w3-black w3-container" style="min-height:500px" id="work">
    <div class=" w3-center">
      
        <div class="w3-row">
          <div class="">
            <img src="/static/THE LUXURY STANDARD.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/THE EXPERIENCE.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/THE SUBSCRIPTION.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/THE MENU.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Third Grid: Partners -->

<div class="w3-row" style="margin-top: 200px;">
  
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/TESTIMONIAL.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/THE MARKETING CAMPAIGN.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Fourth Grid: About US -->

<div class="w3-row" style="margin-top: 200px;">
  
  <div class="w3-half w3-black w3-container" style="min-height:500px" id="aboutUS">
    <div class=" w3-center">
      
        <div class="w3-row">
          <div class="">
            <img src="/static/ABOUT US.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/THE MISSION.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
  <div class="w3-half w3-black w3-container" style="min-height:500px">
    <div class="w3-center">
        <div class="w3-row">
          <div class="">
            <img src="/static/THE OPERATION.png" style="width:100%">
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
  <p>Powered by <a href="https://arielapps.com" target="_blank">Ariel Apps - DeArriGold Group</a></p>
</footer>
<script type="text/javascript">
</script>

</body>
</html>